img {
    .aligncenter & {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.float {
    &-left {
        margin-right: rem-calc(16);

        @include breakpoint(medium) {
            margin-right: rem-calc(32);
        }
    }

    &-right {
        margin-left: rem-calc(16);

        @include breakpoint(medium) {
            margin-left: rem-calc(32);
        }
    }

    &-center_wrapper {
        width: 100%;
        overflow: hidden;
    }
}
