.blog-entry {
    margin-bottom: rem-calc(64);

    &_header {
        margin-bottom: rem-calc(32);

        &-title {
            font-size: rem-calc(32);

            @include breakpoint(medium) {
                font-size: rem-calc(40);
            }

            a {
                position: relative;
                color: $dark-magenta;
                text-decoration: none;

                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: $light-red;
                    z-index: -1;
                    bottom: 0px;
                    @include tilt(true);
                }

                &:after {
                    height: 5px;
                    content: "";
                    position: absolute;
                    width: 100%;
                    background-color: $dark-violet;
                    bottom: 0;
                    left: 0;
                }

                &:hover {
                    &:before {
                        transform: rotate(0);
                    }
                }
            }
        }

        time {
            @include tilt;
            display: block;
            margin-bottom: rem-calc(16);

            @include breakpoint(medium) {
                margin: rem-calc(14 0 0);
            }
        }
    }

    &_thumbnail {
        @include tilt(true);

        &-wrap {
            margin-bottom: rem-calc(32);
            background-color: $dark-blue;
        }
    }

    &_month-day {
        text-transform: lowercase;
        font-family: $font-family-monospace;
        background-color: $dark-violet;
        color: $white;
        text-align: center;
        font-size: rem-calc(18);
        padding: rem-calc(0 6);

        @include breakpoint(medium) {
            padding: rem-calc(0 18);
            font-size: rem-calc(24);
        }
    }
    &_year {
        font-family: $header-font-family;
        font-size: rem-calc(18);
        color: $dark-violet;
        position: absolute;
        right: 0;
        top: -19px;

        @include breakpoint(medium) {
            top: -25px;
            font-size: rem-calc(24);
        }
    }

    &_content {
        img {
            border: 4px solid $dark-blue;
            padding: rem-calc(5);
            background-color: $white;
            transition: border-color 0.25s ease;

            &:hover {
                border-color: $dark-magenta;
                transition: border-color 0.25s ease;
            }
        }

        a {
            color: $dark-magenta;
            text-decoration: underline;
            transition: color 0.25s ease;

            &:hover {
                transition: color 0.25s ease;
                color: $dark-violet;
            }
        }
    }

    &_footer {
        text-align: right;
        font-family: $header-font-family;
        color: $dark-magenta;
        font-size: rem-calc(16);
        width: 100%;
        @include flex;
        @include flex-align(right);

        p {
            margin-bottom: 0;
        }

        a {
            color: $dark-violet;
            transition: color 0.25s ease;

            &:hover {
                color: $bright-pink;
                transition: color 0.25s ease;
            }
        }
    }

    &_navigation {
        margin-bottom: rem-calc(64);
        font-family: $header-font-family;

        &-next {
            .icon {
                color: $dark-violet;
            }
            a {
                color: $bright-pink;
                transition: color 0.25s ease;

                &:hover {
                    color: $light-red;
                }
            }
        }

        &-previous {
            .icon {
                color: $dark-blue;
            }
            a {
                color: $light-red;
                transition: color 0.25s ease;

                &:hover {
                    color: $bright-pink;
                }
            }
        }

        &-tilt {
            transform: rotate(2deg);
        }
    }

    &_related {
        &-title {
            margin-bottom: rem-calc(32);
        }

        &-tilt {
            margin-bottom: rem-calc(64);

            @include breakpoint(medium) {
                transform: rotate(2deg);
            }

            & > .cell {
                margin-bottom: rem-calc(16);
            }
        }

        &-thumbnail-wrap {
            margin-bottom: rem-calc(16);
            background-color: $dark-blue;

            @include breakpoint(medium) {
                margin-bottom: rem-calc(32);
            }
        }
    }
}
