.button {
    &-menu,
    &-menu-bottom,
    &-search {
        background-color: transparent;
        margin: 0;
        padding: 0;

        &:hover {
            cursor: pointer;
        }
    }

    &-active {
        [class^="icon-"],
        [class*=" icon-"] {
            &:before {
                color: $light-red;
            }
        }
    }

    &-menu-bottom {
        color: $very-light-gray;
    }
}
