.expanded-menu {
    &-wrapper {
        position: relative;
        background-color: $dark-blue;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease;
        color: $white;
        padding: rem-calc(48 0 16);

        &.visible {
            max-height: 2000px !important;
            transition: max-height 0.25s ease;
        }

        @include breakpoint(medium) {
            padding-bottom: rem-calc(32);
        }
    }

    &_block {
        margin-bottom: rem-calc(16);
    }

    &_list {
        font-size: rem-calc(18);
        margin: 0;
        columns: 2;

        @include breakpoint(medium) {
            columns: 1;
        }

        @include breakpoint(large) {
            columns: 2;
        }

        li {
            margin: 0 rem-calc(16);
        }

        a {
            color: $white;
            position: relative;
            text-decoration: underline;
        }
    }
}