.footer {
    padding: rem-calc(64 0 32);
    background-color: $very-dark-blue;
    clip-path: polygon(0 0,100% 3vw,100% 100%,0 calc(100%));

    p {
        color: $white;
        font-size: rem-calc(16);
        margin-bottom: 0;
    }
}
