.header {
    border-bottom: 4px solid $light-red;
    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23efefef' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    &_title {
        margin-bottom: 0;
        font-size: rem-calc(40);
        transition: transform 0.25s ease;

        @include breakpoint(medium) {
            font-size: rem-calc(80);
            padding-top: rem-calc(32);
            line-height: rem-calc(48);
            position: relative;
            z-index: 20;
        }
        @include breakpoint(large) {
            font-size: rem-calc(96);
            padding-top: rem-calc(48);
            line-height: rem-calc(56);
        }

        &:hover {
            @include breakpoint(medium) {
                transition: transform 0.25s ease;
                transform: scale(1.25) rotate(-6deg);

            }
        }

        &-resume {
            &:hover {
                @include breakpoint(medium) {
                    transition: none;
                    transform: none;
                }
            }
        }

        a {
            color: $light-red;
            transition: color 0.25s ease;
            text-decoration: none;

            &:hover {
                color: $dark-violet;
                transition: color 0.25s ease;
            }
        }
    }

    [class^="icon-"],
    [class*=" icon-"] {
        &:before {
            transition: transform 0.25s ease, color 0.25s ease;
            color: $dark-blue;
        }

        &:hover {
            &:before {
                transform: scale(1.25) rotate(-6deg);
            }
        }
    }
}
