.main-content {
    padding-top: rem-calc(64);
    position: relative;
    z-index: 10;
    font-size: rem-calc(20);
    min-height: 75vh;

    @include breakpoint(medium) {
        font-size: rem-calc(24);
    }
}
