.search-wrapper {
    background-color: $very-dark-blue;
    transition: max-height 0.25s ease;
    max-height: 0;
    overflow: hidden;

    &.visible {
        max-height: 600px !important;
        transition: max-height 0.25s ease;
    }

    form {
        padding: rem-calc(16 0);
    }

    label {
        color: $white;
        font-size: rem-calc(18);
        padding-right: rem-calc(16);
    }

    input {
        margin-bottom: 0;
        border: none;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    .button {
        background-color: $white;
        margin: 0;
        padding: rem-calc(0 16);
        height: 100%;
        color: $very-dark-blue;
    }

    &-404 {
        form {
            padding: rem-calc(16 0);
        }

        label {
            color: $very-dark-blue;
            font-size: rem-calc(18);
            padding-right: rem-calc(16);
        }

        input {
            color: $dark-blue;
            margin-bottom: 0;
            border: 1px solid $very-dark-blue;
            font-size: rem-calc(24);
            height: auto;

            &:focus {
                border: 1px solid $dark-blue;
                box-shadow: none;
            }
        }

        .button {
            background-color: $very-dark-blue;
            margin: 0;
            padding: rem-calc(0 16);
            height: 100%;
            color: $white;
        }
    }
}
