.sketches {
    &_polygon {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        position: absolute;
        background-size: cover;
        background-position: center center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: clip-path 0.25s ease;

        &:hover {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }

        &-wrapper {
            position: relative;
            height: 50vh;
            margin-bottom: rem-calc(10);

            @include breakpoint(medium) {
                height: 35vh;
            }
        }
    }

    &_title {
        margin-bottom: rem-calc(10);

        @include breakpoint(medium) {
            margin-bottom: rem-calc(30);
        }
    }

    &_link {
        text-decoration: none;
    }
}
