.wp-block {
    &-image {
        display: table;
        margin-bottom: rem-calc(16);
        clear: both;

        @include breakpoint(medium) {
            margin-bottom: rem-calc(32);
        }

        img {
            display: table-row;
        }

        figcaption {
            font-size: rem-calc(20);
            text-align: center;
            display: table-caption;
            caption-side: bottom;
            margin: rem-calc(8 0 0);
        }
    }

    &-embed__wrapper {
        padding-bottom: 56.25%;
        height: 0;
        position: relative;
        overflow: hidden;
        margin-bottom: rem-calc(16);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
