@mixin tilt($hover: false, $opposite: false) {
    @if $hover != false {
        transform: rotate(-3deg);
        transition: transform 0.25s ease;

        &:hover {
            transition: transform 0.25s ease;
            transform: rotate(0);
        }
    } @else {
        transform: rotate(-3deg);
    }
}