/*
table {width: 525px; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; margin-top: 20px;}
th {padding: 0.5em; padding-right:15px; background-color: #234455; color: #FFFFFF; text-align: center;}
.left th a {display: block; color: #FFFFFF; text-decoration: none;}
* html th a {height: 1px;}
td {border-top: 1px solid #0066CC; padding: 0.5em; text-align: center;}
td.c1 {text-align: left;}
tr:hover {background-color:#FFF8E0;}
*/

th {
  background-color:#999;
}
th a {
  color:#fff;
}
th.c1 {
  text-align: left;
}
th.sortedAscending {
  background:url('images/arrow_up.gif') no-repeat 95% 50% #999;
}
th.sortedDescending {
  background:url('images/arrow_down.gif') no-repeat 95% 50% #999;
}

