html[data-whatinput="keyboard"] {
    :focus {
        outline: $bright-pink solid 3px !important;
        outline-offset: 4px;
    }
}
.bypass-block {
    padding: rem-calc(10);
    display: inline-block;
    margin: rem-calc(10);

    &:focus {
        color: $bright-pink;
    }
}
