.margin {
    &-none {
        margin: 0;
    }
}

.list {
    &-flex {
        display: flex;

        @include breakpoint(large) {
            li {
                padding: rem-calc(0 16);
            }
        }
    }
}