.icon {
    &-search,
    &-twitter,
    &-menu,
    &-cancel,
    &-instagram,
    &-linkedin-squared {
        &:before {
            font-size: rem-calc(32);
            width: rem-calc(32);
            margin: 0;
        }
    }
}