{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Foundation for Sites</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{root}}assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{root}}assets/img/favicon/safari-pinned-tab.svg" color="#ff3b3f">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{root}}assets/css/app.css" />
        <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Inconsolata&family=Shrikhand&display=swap" rel="stylesheet">

    </head>
    <body>
        <a class="bypass-block show-on-focus" href="#main-content">Skip to content</a>

        <header id="masthead" class="header">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-justify align-middle">
                    <div class="cell shrink">
                        <h1 class="header_title"><a href="#">gorirrajoe</a></h1>
                    </div>
                    <div class="cell auto text-right">
                        <ul class="no-bullet margin-none list-flex align-right">
                            <li class="show-for-large"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="show-for-large"><a href="#"><i class="icon-instagram"></i></a></li>
                            <li class="show-for-large"><a href="#"><i class="icon-linkedin-squared"></i></a></li>
                            <li class="show-for-large">
                                <button id="toggleSearch" type="button" class="button-search">
                                    <i class="icon-search"><span class="show-for-sr">Search</span></i>
                                </button>
                            </li>
                            <li>
                                <button id="toggleExpandedMenu" type="button" class="button-menu">
                                    <i class="icon icon-menu"><span class="show-for-sr">Open menu</span></i>
                                    <i class="icon icon-cancel hide"><span class="show-for-sr">Close menu</span></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div id="searchWrapper" class="search-wrapper hide" style="max-height: 0;">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-right">
                    <div class="cell medium-6">
                        <form action="" method="POST">
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell shrink">
                                    <label for="searchInput">Search</label>
                                </div>
                                <div class="cell auto">
                                    <input type="text" id="searchInput" name="searchInput">
                                </div>
                                <div class="cell shrink align-self-stretch">
                                    <button type="submit" class="button button-submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="expandedMenuWrapper" class="expanded-menu-wrapper hide" style="max-height: 0;">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-4">
                        <div class="expanded-menu_block">
                            <p class="h4">Pages</p>
                            <ul class="expanded-menu_list">
                                <li><a href="#">Sketches</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Year of the Beer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <div class="expanded-menu_block">
                            <p class="h4">Archives</p>
                            <div class="grid-x grid-padding-x">
                                <div class="cell small-6">
                                    <ul class="expanded-menu_list">
                                        <li><a href="#">2020</a></li>
                                        <li><a href="#">2019</a></li>
                                        <li><a href="#">2018</a></li>
                                        <li><a href="#">2017</a></li>
                                        <li><a href="#">2016</a></li>
                                        <li><a href="#">2015</a></li>
                                    </ul>
                                </div>
                                <div class="cell small-6">
                                    <ul class="expanded-menu_list">
                                        <li><a href="#">2014</a></li>
                                        <li><a href="#">2013</a></li>
                                        <li><a href="#">2012</a></li>
                                        <li><a href="#">2011</a></li>
                                        <li><a href="#">2010</a></li>
                                        <li><a href="#">2009</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <div class="expanded-menu_block">
                            <p class="h4">Categories</p>
                            <div class="grid-x grid-padding-x">
                                <div class="cell small-6">
                                    <ul class="expanded-menu_list">
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Entertainment</a></li>
                                        <li><a href="#">Friends and Family</a></li>
                                        <li><a href="#">Homeownership</a></li>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Recipes</a></li>
                                    </ul>
                                </div>
                                <div class="cell small-6">
                                    <ul class="expanded-menu_list">
                                        <li><a href="#">Stuff</a></li>
                                        <li><a href="#">Web Development</a></li>
                                        <li><a href="#">Year of the Beer '09</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-container hide-for-medium">
                <div class="grid-x grid-padding-x align-right">
                    <div class="cell small-shrink text-right">
                        <button id="toggleExpandedMenuBottom" type="button" class="button-menu-bottom">
                            <i class="icon icon-cancel"><span class="show-for-sr">Close menu</span></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <main id="main-content" class="main-content">
            {{!-- Pages you create in the src/pages/ folder are inserted here when
            the flattened page is created. --}} {{> body}}
        </main>

        <footer id="footer" class="footer">
            <div class="grid-container">
                <div class="grid-x grid-padding-x text-center">
                    <div class="cell auto">
                        <p>&copy; 2020 &mdash; gorirrajoe</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>
