<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Foundation for Sites</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{root}}assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{root}}assets/img/favicon/safari-pinned-tab.svg" color="#ff3b3f">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{root}}assets/css/app.css" />
        <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Inconsolata&family=Shrikhand&display=swap" rel="stylesheet">

    </head>
    <body class="resume">
        <a class="bypass-block show-on-focus" href="#main-content">Skip to content</a>

        <header id="masthead" class="header">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-justify align-middle">
                    <div class="cell shrink">
                        <h1 class="header_title header_title-resume"><a href="#">Joseph Hernandez</a></h1>
                    </div>
                </div>
            </div>
        </header>

        <main id="main-content" class="main-content">
            {{!-- Pages you create in the src/pages/ folder are inserted here when
            the flattened page is created. --}} {{> body}}
        </main>

        <footer id="footer" class="footer">
            <div class="grid-container">
                <div class="grid-x grid-padding-x text-center">
                    <div class="cell auto">
                        <p>&copy; 2020 &mdash; gorirrajoe</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>
