/*
Theme Name:gorirrajoe
Description:newest theme for gorirrajoe.com
Author:Gorirra Consulting
Author URI:http://gorirra.com/
*/

/* css reset based on Eric Meyer's work:
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License:none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Ubuntu+Condensed|Amatic+SC);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:block;
}
ol, ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
/* end css reset */

BODY {
  font:1em/1.5 'Ubuntu Condensed', sans-serif; /* 24em is the line height */
  color:#666;
  background-color:#f9f9f9;
}
H1 {
  font:3em/1em 'Sue Ellen Francisco', cursive;
  margin:0 0 0.25em 0;
}
H2 {
  font:2em/.75 'Sue Ellen Francisco', cursive;
  margin:1.25em 0 .3125em 0;
}
H3 {
  font:1.5em/1 'Sue Ellen Francisco', cursive;
  margin:.625em 0 .3125em 0;
}
H4 {
  font:1em/1 'Ubuntu Condensed', sans-serif;
  margin:.625em 0 0 0;
  text-transform:uppercase;
}
P, OL, UL, TABLE {
  margin-bottom:.625em;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
}
blockquote {
  margin:.9375em 1.875em 0 .625em;
  padding-left:20px;
  border-left:.3125em solid #ddd;
}
A, A:visited, A:active {
  text-decoration:underline;
  color:#333;
}
A:hover {
  text-decoration:none;
}
A:focus {
  outline:none;
}


#container {
  width:93.75%;  /* 960px / 1024px */
  max-width:960px;
  margin:auto;
}
#banner {
  margin-bottom:1.25em;
}

#logo {
  font:4.5em/1.1111 'Amatic SC', cursive;
  float:left;
  margin:0;
}
  #logo A {
    color:#000;
    text-decoration:none;
  }

/* begin socnet and search */
#socNetSearch {
  float:right;
  margin:40px 0 0 0;
}
  #socNetSearch LI {
    float:left;
    margin-left:10px;
  }
  .socnet {
    width:24px;
    height:24px;
    background:url('images/socnet-sprites.png') no-repeat top left;
  }
  .facebook {
    background-position:0 0;
  }
    .facebook:hover {
      background-position:0 -50px;
    }
  .twitter {
    background-position:-50px 0;
  }
    .twitter:hover {
      background-position:-50px -50px;
    }
  .linkedin {
    background-position:-100px 0;
  }
    .linkedin:hover {
      background-position:-100px -50px;
    }
  .foursquare {
    background-position:-150px 0;
  }
    .foursquare:hover {
      background-position:-150px -50px;
    }
  .gplus {
    background-position:-200px 0;
  }
    .gplus:hover {
      background-position:-200px -50px;
    }
  .px500 {
    background-position:-250px 0;
  }
    .px500:hover {
      background-position:-250px -50px;
    }
  .instagram {
    background-position:-350px 0;
  }
    .instagram:hover {
      background-position:-350px -50px;
    }
/* end socnet and search */

/* begin slider */
#photoContainer {
  background:url('images/photobox-frame.png') no-repeat top left;
  width:960px;
  height:390px;
}
#slider {
  position:relative;
  top:10px;
  left:10px;
}
/* end slider */

/* begin content */
#content {
  width:72.91%;
  margin:auto;
  float:left;
}
  #content H1 A {
    text-decoration:none;
    color:#333;
  }
  .postdate {
    color:#999;
    font-size:.75em;
    margin-bottom:.625em;
  }
  #content .post {
    margin-bottom:2.5em;
    font-size:1.125em;
  }
  .navigation {
    display:block;
    text-align:center;
    margin:2.5em 0;
  }

  .postmetadataContainer {
    margin-top:1.5625em;
  }
    .postmetadata {
      display:inline;
      border:1px solid #333;
      padding:.3125em;
    }
    .postmetadata A {
      text-decoration:none;
    }
    .postmetadata:hover {
      background-color:#333;
    }
    .postmetadata:hover A {
      color:#fff;
    }
    #content UL, #content OL,
    #contentResume UL, #contentResume OL {
      margin-left:1.875em;
    }
      #content UL LI,
      #contentResume UL LI {
        list-style-type:disc;
        margin-bottom:0.3125em;
      }
      #content OL LI,
      #contentResume OL LI {
        list-style-type:decimal;
        margin-bottom:0.3125em;
      }
/* end content */

/* begin sketches */
#content .sketch_list {
  margin-left:0;
}
#content .sketch_list li {
  width:31.42857142857143%;
  position:relative;
  float:left;
  list-style-type:none;
  margin:0 0 2.857142857142857% 2.857142857142857%;
}
#content .sketch_list li:first-child,
#content .sketch_list li:nth-child(3n+1) {
  margin-left:0;
}
#content .sketch_list h2 {
  position:absolute;
  text-align:center;
  top:80px;
  background-color:#000;
  margin:0;
  padding:10px 20px;
  background-color:rgba(0,0,0,.5);
  line-height:1;
}
#content .sketch_list a {
  color:#fff;
  text-decoration:none;
}
.single_sketch {
  width:100%;
}
#big_sketch {
  margin-bottom:1.25em;
}
/* end sketches */

/* begin comments */
#content .commentlist {
  margin:0;
}
  #content .commentlist LI {
    list-style-type:none;
  }
  .commentlist .even {
    border:1px solid #eee;
  }
  .commentlist .even .comment-body {
    padding:10px;
  }
  .commentlist .odd {
    margin-top:20px;
    background-color:#eee;
  }
  .commentlist .odd .comment-body {
    padding:10px;
  }
  #content .children {
    margin-left:10px;
  }
/* end comments */

/* begin sidebar */
#sidebar {
  float:right;
  width:22.92%;
}
  #sidebar H3 {
    color:#999;
  }
  #sidebar A {
    color:#ccc;
  }
  #sidebar .widget {
    margin-bottom:2.5em;
  }
  #sidebar .children {
    margin:5px 0 5px 15px;
  }
/* end sidebar */

.jig {
  clear:both;
}

#footer {
  border-top:1px solid #eee;
  clear:both;
  margin-top:20px;
  padding:20px 0;
  font-size:13px;
}

/* begin images */
img {
  max-width:100%;
  /*width:100%;*/
  height:auto;
}
img.centered {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
img.alignright {
  padding:4px;
  margin:0 0 2px 7px;
  display:inline;
}
img.alignleft {
  padding:4px;
  margin:0 7px 2px 0;
  display:inline;
}
.alignright {
  float:right;
}
.alignleft {
  float:left;
}
OBJECT IMG {
  height:inherit;
}
.wp-caption {
  width:auto!important;
}
/* end images */

/* begin form elements */
#searchform {
  margin:0;
  padding:5px 3px;
  text-align:center;
}

#sidebar #searchform #s {
  width:108px;
  padding:2px;
}

#sidebar #searchsubmit {
  padding:1px;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
}

select {
  width:130px;
}

#commentform {
  margin:5px 10px 0 0;
}
  #commentform input {
    width:170px;
    padding:2px;
    margin:5px 5px 1px 0;
  }
  #commentform textarea {
    width:100%;
    padding:2px;
  }
/*#respond {
  margin:10px;
}*/
#respond:after {
  content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
#commentform #submit {
  margin:0 0 5px auto;
  float:right;
}
/* end form elements */

/* misc */
acronym, abbr {
  cursor:help;
  border-bottom:1px dashed #999;
}
B {
  font-weight:bold;
}
I {
  font-style:italic;
}
TABLE TH {
  font-weight:bold;
  border-bottom:1px solid #ddd;
}
TABLE TH, TABLE TD {
  padding:5px;
}
::selection {
  background: #fe57a1; /* Safari */
  color:#333;
}
::-moz-selection {
  background: #fe57a1; /* Firefox */
  color:#333;
}

/* resume */
/*
#nameAndLoc {
  float:left;
}
*/
#bigName {
  font:4.5em/1.1111 'Amatic SC', cursive;
  margin:0;
}
.location LI {
  float:left;
  border-left:1px solid #999;
  margin-right:1.04167%;
  padding-left:1.04167%;
}
  .location LI:first-child {
    border-left:none;
    padding-left:0;
  }
#contentResume {
  width:64.58333333333333%;
  float:left;
}
#sidebar2 {
  float:right;
  width:31.25%;
}
#sidebar2 UL {
  list-style-type:disc;
  margin-left:1.875em;
}

/* media queries */
@media only screen and (max-width: 1024px) {
  #photoContainer {
    width:auto;
    height:auto;
    background:none;
  }
    #photo {
      margin:0;
      padding:0;
    }
    .slides_container {
      width:auto;
    }
    .slides_container div {
      width:auto;
    }
}
@media only screen and (max-width: 800px) {
  #container {
    position:relative;
  }
  #socNetSearch {
    width:auto;
  }
    #socNetSearch LI {
      margin-bottom:10px;
    }
  #content,
  #contentResume {
    float:none;
    margin-top:20px;
    width:auto;
  }
    H1 {
      line-height:1em;
      margin-bottom:.625em;
    }
    /*OBJECT, EMBED {
      max-width:100%;
      height:100%;
    }*/
  #sidebar,
  #sidebar2 {
    float:none;
    clear:both;
    width:auto;
    margin-top:40px;
    border:1px solid #000;
    padding:10px;
  }
    #sidebar .widget,
    #sidebar2 .widget {
      float:left;
      width:50%;
    }
}
@media (max-width: 640px) {
  .navigation {
    border-top:1px solid #ddd;
  }
  .searchBar {
    display:none;
  }
  #content .sketch_list li {
    width:48.4375%;
    margin-left:3.125%;
  }
  #content .sketch_list li:nth-child(3n+1) {
    margin-left:3.125%;
  }
  #content .sketch_list li:first-child,
  #content .sketch_list li:nth-child(2n+1) {
    margin-left:0;
  }
}
@media (max-width: 480px) {
  #logo {
    font-size:5.5em;
    float:none;
    line-height:0;
    margin:.5em 0 .625em 0;
  }
  #socNetSearch {
    float:none;
    clear:both;
  }
}
@media only screen and (max-width: 430px) {
  .location LI {
    float:none;
    border:none;
    padding-left:0;
  }

  #photoContainer {
    display:none;
  }
  #content,
  #contentResume {
    float:none;
    margin-top:0;
    width:auto;
  }
    OBJECT, EMBED {
      max-width:100%;
      height:100%;
    }
    #content .sketch_list li {
      width:100%;
      margin-left:0;
    }
    #content .sketch_list li:nth-child(4n+0) {
      margin-left:0;
    }

  #sidebar,
  #sidebar2 {
    float:none;
    clear:both;
    width:auto;
    margin-top:40px;
    border:1px solid #000;
    padding:10px;
  }
    #sidebar .widget,
    #sidebar2 .widget {
      float:none;
      width:auto;
    }
}
@media (max-width: 320px) {
  #bigName {
    font:3.5em/1.1111 'Amatic SC', cursive;
  }
}
.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  margin-bottom:20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.instagram-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 116.0130718954248%;
  padding-top: 30px;
  position: relative;
  margin-bottom:20px;
}
.instagram-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.responsive-slider.flexslider .slides img {
  margin:0 auto!important;
}
.responsive-slider.flexslider .slide .slide-title {
  display:none;
}
.responsive-slider.flexslider .slide {
  top:10px;
}