/* begin comments */
#content .commentlist,
#full_content .commentlist {
	margin: 0;
}
#content .commentlist li,
#full_content .commentlist li {
	list-style-type: none;
}

.commentlist {
	.even .comment-body {
		padding: 0.625em;
	}
	.odd {
		background-color: @whisper;

		.comment-body {
			padding: 0.625em;
		}
	}
}


#content .children,
#full_content .children {
	margin-left: 1.25em;
}
/* end comments */