/* begin content */

#content {
    margin-bottom: 1.875em;

    @media only screen and (min-width: 900px) {
        float: left;
        width: 67.81609195402299%;
    }
    @media only screen and (min-width:1024px) {
        width: 71.83098591549296%;
    }
}

.text_intro {
    margin-bottom: 3em;
}

.wp-caption-text {
    font-size: 0.813em;
    font-style: italic;
    padding-top: 0.625em;
    text-align: center;
}

#content h1 a,
#full_content h1 a {
    text-decoration: none;
    color: @oil;
}

.postdate {
    font-size: 0.778em;
    margin-bottom: 0.625em;
    color: @aluminum;
}

#content .post,
#full_content .post {
    font-size: 1.125em;
    /* base 18px font */
    margin-bottom: 1.667em;
    padding-bottom: 1.667em;
    border-bottom: 1px solid @gainsboro;
}

.page #content .post {
    padding: 0;
    border: none;
}

.navigation {
    overflow: hidden;
    margin: 1em 0;

    @media only screen and (min-width: 640px) {
        border-top: 1px solid @gainsboro;
    }

    div {
        color: @gray;
        background-color: #dedede;
    }
    a {
        display: block;
        padding: 0.625em;
        text-decoration: none;
        color: @gray;
    }
}

.more-link {
    display: block;
    margin-top: 0.625em;
    padding: 0.313em 0.625em;
    text-decoration: none;
    color: @white;
    background-color: @oil;
}

.postmetadataContainer {
    margin-top: 1.5625em;
}

.postmetadata {
    display: inline;

    a {
        padding: 0.3125em;
        text-decoration: none;
        border: 1px solid @oil;

        &:hover {
            color: @white;
            background-color: @oil;
        }
    }
}

#content ul,
#content ol,
#full_content ul,
#full_content ol {
    margin-left: 1.667em;
}

#content ul li,
#full_content ul li {
    margin-bottom: 0.3125em;
    list-style-type: disc;
}

#content ol li,
#full_content ol li {
    margin-bottom: 0.3125em;
    list-style-type: decimal;
}

.intro {
    margin-bottom: 1.25em;
}

.gallery_section {
    text-align: center;
}

.syntaxhighlighter {
    overflow: auto;
}


/* end content */