/* embeds */
.video-container {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 1.25em;
	padding-top: 1.875em;
	padding-bottom: 56.25%;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.instagram-container {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 1.25em;
	padding-top: 1.875em;
	padding-bottom: 116.0130718954248%;
}
.instagram-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}