/* begin form elements */
#searchform {
	margin: 0;
	padding: 0.313em 0.188em;
	text-align: center;
}

#sidebar {
	#searchform #s {
		width: 108px;
		padding: 0.125em;
	}

	#searchsubmit {
		padding: 0.063em;
	}
}


.entry form {
	/* This is mainly for password protected posts, makes them look better. */
	text-align: center;
}

select {
	border: 0;
	background-color: @white;
}
#commentform {
	margin: 0.313em 0.625em 0 0;

	input {
		font: 1em 'Open Sans', sans-serif;
		margin: 0.063em 0;
		padding: 0.625em;
		border: 1px solid @silver;
	}
	textarea {
		font: 1em 'Open Sans', sans-serif;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		        box-sizing: border-box;         /* Opera/IE 8+ */
		width: 100%;
		padding: 0.625em;
		border: 1px solid @silver;
	}
	label {
		font-size: 0.813em;
		float: left;
		width: 60px;
		padding-top: 0.625em;

		&:hover {
			cursor: pointer;
		}
	}
	#submit {
		float: right;
		margin: 0 0 0.313em auto;
	}

}

#respond {
	margin-top: 3em;

	&:after {
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		content: '.';
	}
}


/* end form elements */