body {
	font: 100%/1.5 'Open Sans', sans-serif; /* 24em is the line height */
	color: @gray;
	background-color: #f9f9f9;
}
h1 {
	font: 1.813em/1 'Cabin', sans-serif;
	margin: 0 0 1.034em 0;
	color: @black;
}
h2 {
	font: 1.500em/1 'Cabin', sans-serif;
	margin: 1.25em 0 0.3125em 0;
}
h3 {
	font: 1.188em/1 'Cabin', sans-serif;
	margin: 0.625em 0 0.3125em 0;
}
h4 {
	font: 1em/1 'Open Sans', sans-serif;
	margin: 0.625em 0 0 0;
	text-transform: uppercase;
}
p,
ol,
ul,
table {
	margin-bottom: 1.25em;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
blockquote {
	margin: 0.9375em 1.875em 0 0.625em;
	padding-left: 1.25em;
	border-left: 0.3125em solid @gainsboro;
}

acronym,
abbr {
	cursor: help;
	border-bottom: 1px dashed @aluminum;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
table th {
	font-weight: bold;
	border-bottom: 1px solid @gainsboro;
}
table th,
table td {
	padding: 0.313em;
}
::selection {
	color: @oil;
	background: #fe57a1; /* Safari */
}
::-moz-selection {
	color: @oil;
	background: #fe57a1; /* Firefox */
}



#container .expand a,
#sidebar .to_top a {
	text-decoration: none;
	color: @gray;
	border: none;
}
#sidebar .to_top a:hover {
	color: @gray;
	background-color: transparent;
}

#container {
	max-width: 1024px;
	margin: auto;
	padding: 0 0.625em;

	@media only screen and (min-width:640px) {
		padding: 0 0.938em;
	}
}
a {
	text-decoration: underline;
	color: @oil;
}

.jig {
	clear: both;
}

.metadata {
	font-size: 0.813em;
	padding: 0.313em;
	border: 1px solid @silver;
}

#footer {
	font-size: 0.813em;
	clear: both;
	margin-top: 1.538em;
	padding: 1.538em 0;
	text-align: center;
}


@media only screen and (min-width:900px) {
	.expand,
	.to_top {
		display: none;
	}

	.ui-accordion-content {
		margin: 0 0 0 1.25em;
	}
}
