#banner {
	overflow: hidden;
	margin-bottom: 1.875em;
}

#logo {
	font: 4.5em/1.1111 'Cabin', sans-serif;
	margin: 0;

	@media only screen and (min-width:900px) {
		float: left;
	}

	a {
		text-decoration: none;
		color: @black;
	}
}


