/* begin images */
img {
	max-width: 100%;
	height: auto;

	&.centered {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	&.alignright {
		display: inline;
		margin: 0 0 0.125em 0.438em;
		padding: 0.250em;
	}
	&.alignleft {
		display: inline;
		margin: 0 0.438em 0.125em 0;
		padding: 0.3125em;
	}
}

.alignright {
	float: right;
}
.alignleft {
	float: left;
}
object img {
	height: inherit;
}
.wp-caption {
	width: auto!important;
	margin-bottom: 1.25em;
	text-align: center;
	border: 1px solid @silver;
	background-color: @whisper;
}
/* end images */