.owl-carousel {
	margin-bottom: 30px;

	.owl-item img {
		width: auto;
		margin: auto;
	}
	&.owl-theme {
		.owl-nav {
			position: absolute;
			top: 25%;
			width: 100%;

			span {
				cursor: pointer;
			}

			.owl-prev {
				left: 0;
				position: absolute;
			}
			.owl-next {
				right: 0;
				position: absolute;
			}
		}
		.owl-dots {
			margin-top: 15px;
		}
	}
}
