#sidebar {
	font-size: 0.875em; /* base 14px font */
	text-align: center;

	@media only screen and (min-width:900px) {
		float: right;
		width: 28.73563218390805%;
		margin-left: 2.143em;
		text-align: left;
	}

	@media only screen and (min-width:1024px) {
		width: 25.15090543259557%;
	}

	h3 {
		font-size: 1.357em;
		margin-bottom: 0;
		padding: 0.526em 0;
		text-align: center;
		border-bottom: 1px solid @gainsboro;
	}

	a {
		display: block;
		padding: 1.071em 0;
		text-decoration: none;
		border-bottom: 1px solid @gainsboro;

		@media only screen and (min-width:900px) {
			padding: 0.625em;
			color: @aluminum;
		}

		&:hover {
			color: @white;
			background-color: @oil;

			@media only screen and (min-width:900px) {
				color: @oil;
				background-color: @silver;
			}
		}
	}

	#photo_content & {
		float: none;
		width: auto;
	}
	.archives {

		&__monthslist {
			display: none;
			background-color: @whisper;
			margin-bottom: 0;
		}

	}
}

