/* begin sketches */
#content .sketch_list {
	margin-left: 0;

	@media only screen and (min-width:640px) {
		margin: 0 -0.833em;
	}

	li {
		position: relative;
		list-style-type: none;
		margin-bottom: 1.667em;

		@media only screen and (min-width:640px) {
			float: left;
			width: 50%;
			margin: 0;
			padding: 0.833em;
		}

		@media only screen and (min-width:740px) {
			width: calc( 100%/3 );
		}

		@media only screen and (min-width:900px) {
			width: 50%;
		}
		@media only screen and (min-width:1024px) {
			width: calc( 100%/3 );
		}
	}
	h2 {
		line-height: 1;
		position: absolute;
		top: 100px;
		margin: 0 0.556em 0 0;
		padding: 0.625em;
		text-align: center;
		background-color: @black;
		background-color: rgba(0,0,0,0.5);
	}
	a {
		text-decoration: none;
		color: @white;
	}
}

.single_sketch {
	width: 100%;
}

#big_sketch {
	margin-bottom: 1.25em;
}
/* end sketches */