/* begin slider */
.responsive-slider.flexslider {
	.slides img {
		margin: 0 auto!important;
	}

	.slide {
		top: 0.625em;

		.slide-title {
			display: none;
		}
	}
}

#photoContainer {
	display: none;

	@media only screen and (min-width:640px) {
		display: block;
	}

	@media only screen and (min-width:1024px) {
		width: auto;
		height: auto;
		background: none;
	}
}
#slider {
	position: relative;
	top: 0.625em;
	left: 0.625em;
}

@media only screen and (min-width:1024px) {
	#photo {
		margin: 0;
		padding: 0;
	}
	.slides_container {
		width: auto;

		div {
			width: auto;
		}
	}

}
/* end slider */