/* begin socnet and search */
#socNetSearch {
	font-size: 1.750em;
	overflow: hidden;
	margin: 0.625em -0.625em 0;
	text-align: center;

	@media only screen and (min-width:640px) {
		float: left;
		margin: 0.625em 0;
	}
	@media only screen and (min-width:900px) {
		float: right;
		margin-top: 1.250em;
	}

	li {
		float: left;
		width: 20%;

		@media only screen and (min-width:640px) {
			width: auto;
			margin-left: 1.071em;

			&:first-child {
				margin: 0;
			}
		}
	}
	a {
		text-decoration: none;
		color: @oil;
	}
}

.vsco_logo {
	width: 20px;
	height: 20px;
	vertical-align: text-top;
}


.hidden_search {
	max-width: 1020px;
	margin: 0 auto;
	display: none;
	clear: both;

	&.opened {
		max-height: 9999px;
		margin-bottom: 2.308em;
	}
	ul {
		width: 100%;
	}
	.js & {
		font-size: 0.813em;
		position: absolute;
		display: block;
		clear: both;
		overflow: hidden;
		clip: rect(0 0 0 0);
		zoom: 1;
		max-height: 0;
	}
}

.search-input {
	font-size: 1.25em;
	width: 90%;
	padding: 0.625em;
	border: 1px solid @silver;
}


/* end socnet and search */