.widget_container {
	@media only screen and (min-width:640px) {
		margin: 0 -1.071em;
	}
}
.widget {
	@media only screen and (min-width:640px) {
		float: left;
		width: calc( 100%/3 );
		padding: 0 1.071em;
	}

	@media only screen and (min-width:900px) {
		float: none;
		width: auto;

		#photo_content & {
			float: left;
			width: 31.46666666666667%;
			margin-left: 2.666666666666667%;
		}
	}

}
// .widget_categories {
// 	@media only screen and (min-width:640px) {
// 		float: none;
// 		clear: both;
// 		width: auto;
// 		margin-left: 0;

// 	}
// 	@media only screen and (min-width:800px) {
// 		float: left;
// 		clear: none;
// 		width: calc( 100%/3 );
// 	}
// 	@media only screen and (min-width:900px) {
// 		#photo_content & {
// 			float: left;
// 			clear: none;
// 			width: 31.46666666666667%;
// 			margin-left: 2.666666666666667%;
// 		}
// 	}
// }

.widget_categories {
	.children {
		margin-bottom: 0;
		background-color: @whisper;
	}
}

@media only screen and (min-width:640px) {

	.widget:first-child,
	#photo_content .widget:first-child {
		margin-left: 0;
	}
}

