{{#repeat 5}}
    <article class="blog-entry">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center">
                <div class="cell small-12 large-10">
                    <header class="blog-entry_header">
                        <div class="grid-x grid-padding-x align-middle">
                            <div class="cell shrink">
                                <time datetime="2020-05-17">
                                    <div class="blog-entry_month-day">May 17</div>
                                    <div class="blog-entry_year">2020</div>
                                </time>
                            </div>
                            <div class="cell auto">
                                <h2 class="blog-entry_header-title"><a href="#">Welcome to Foundation</a></h2>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="grid-x grid-padding-x align-center">
                <div class="cell small-12 large-8">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-4 cell">
                            <div class="blog-entry_thumbnail-wrap">
                                <a href="#"
                                    ><img
                                        class="blog-entry_thumbnail"
                                        src="https://i.picsum.photos/id/519/340/260.jpg?hmac=z6fJ4cpvIBGhkU6tusu62El7TTUNqr3KkTJpJG4f8Ds"
                                        alt="Test Layout"
                                /></a>
                            </div>
                        </div>
                        <div class="medium-8 cell">
                            <section class="blog-entry_summary">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Pellentesque et magna quis quam imperdiet posuere tempor at
                                    mi. Nullam sed nunc sagittis, posuere augue vitae, dignissim
                                    felis. Nulla vel velit ac tortor vehicula accumsan.
                                </p>
                            </section>
                            <footer class="blog-entry_footer">
                                <p>
                                    posted in: <a href="#"><i class="icon-food"></i></a>
                                </p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{{/repeat}}
