<article class="blog-entry">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12 large-10">
                <header class="blog-entry_header">
                    <div class="grid-x grid-padding-x align-middle">
                        <div class="cell small-4 medium-shrink">
                            <time datetime="2020-05-17">
                                <div class="blog-entry_month-day">May 17</div>
                                <div class="blog-entry_year">2020</div>
                            </time>
                        </div>
                        <div class="cell small-auto medium-auto">
                            <h1>Welcome to Foundation</h1>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12 large-8">
                <div class="blog-entry_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Cras rutrum ultrices dui, ullamcorper volutpat lectus
                        tristique ut. <a href="#">Cras suscipit eget</a> a eros eget scelerisque. In
                        tempus tellus libero, eu lacinia purus eleifend maximus.
                        Praesent finibus laoreet egestas. Vivamus rhoncus metus vel
                        leo tristique viverra. Praesent convallis tempor hendrerit.
                        In maximus malesuada odio, at tempus libero fringilla sed.
                    </p>
                    <p>
                        <img src="https://i.picsum.photos/id/531/800/600.jpg?hmac=AzqLRW5IR5TZkkl6vG2KQ1Q-LikH3Zh1gaL-mSZtcsM" alt="">
                    </p>
                    <p>
                        Morbi id urna fringilla, dapibus neque sed, aliquet arcu.
                        Quisque sed tincidunt quam, eu condimentum urna. Nulla
                        sagittis facilisis nunc id suscipit. Suspendisse sem leo,
                        rhoncus facilisis accumsan non, aliquam vel leo. Morbi vitae
                        pellentesque dui, sed varius orci. Nam sit amet est
                        dignissim risus dignissim vehicula at quis arcu. Nulla orci
                        augue, aliquet egestas nisi non, scelerisque dapibus quam.
                        Aenean eu tortor quis enim bibendum elementum. Duis finibus
                        imperdiet luctus. Nunc semper, ipsum vehicula lacinia
                        sagittis, metus ante rutrum odio, ut malesuada est odio ut
                        lacus.
                    </p>
                </div>
                <footer class="blog-entry_footer">
                    <p>posted in: <a href="#"><i class="icon-food"></i></a></p>
                </footer>
            </div>
        </div>
    </div>
</article>
