<article class="blog-entry">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12 large-10">
                <header class="blog-entry_header">
                    <div class="grid-x grid-padding-x align-middle">
                        <div class="cell small-4 medium-shrink">
                            <time datetime="2020-05-17">
                                <div class="blog-entry_month-day">May 17</div>
                                <div class="blog-entry_year">2020</div>
                            </time>
                        </div>
                        <div class="cell small-auto medium-auto">
                            <h1>Welcome to Foundation</h1>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12 large-8">
                <div class="blog-entry_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Cras rutrum ultrices dui, ullamcorper volutpat lectus
                        tristique ut. <a href="#">Cras suscipit eget</a> a eros
                        eget scelerisque. In tempus tellus libero, eu lacinia
                        purus eleifend maximus. Praesent finibus laoreet
                        egestas. Vivamus rhoncus metus vel leo tristique
                        viverra. Praesent convallis tempor hendrerit. In maximus
                        malesuada odio, at tempus libero fringilla sed.
                    </p>
                    <h2>Ingredients</h2>
                    <ul>
                        <li>2 tbsp olive oil</li>
                        <li>½ sweet onion</li>
                        <li>1 lb ground italian sausage</li>
                        <li>4 cloves garlic, minced</li>
                    </ul>
                    <h2>Steps</h2>
                    <ol>
                        <li>use the saute feature of the instant pot (wait until it reads “HOT”) to heat the olive oil</li>
                        <li>add chopped onions until they become translucent</li>
                        <li>add italian sausage and cook until browned</li>
                        <li>mix in garlic and cook for about a minute</li>
                    </ol>
                    <p>
                        <img
                            src="https://i.picsum.photos/id/842/800/600.jpg"
                            alt=""
                        />
                    </p>
                </div>
                <footer class="blog-entry_footer">
                    <p>
                        posted in: <a href="#"><i class="icon-food"></i></a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</article>
