---
layout: resume
---

<article class="blog-entry">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12 large-8">
                <h2>About</h2>
                <p>City, State 90210<br>
                555-555-5555<br>
                <a href="mailto:email@mail.com">email@mail.com</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et orci iaculis leo convallis aliquam tempus sit amet turpis. Sed dignissim nibh metus, id commodo arcu convallis vitae. Nam enim enim, ultricies non urna ut, cursus ultrices dui. Praesent maximus velit at arcu vestibulum, nec feugiat nibh scelerisque. Aenean facilisis bibendum odio ut elementum. Aenean ac ex eget purus placerat condimentum. Curabitur auctor massa quis ante pellentesque lobortis vitae gravida orci.</p>

                <h2>Experience</h2>
                {{#repeat 3}}
                    <h3>Company {{@index}}</h3>
                    <p>City, State<br>
                        Title<br>
                        Month 2012 &mdash; Month 2020</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <ul>
                                <li>Praesent maximus velit at arcu vestibulum, nec feugiat nibh scelerisque. </li>
                            </ul>
                        </li>
                        <li>Aenean et orci iaculis leo convallis aliquam tempus sit amet turpis. </li>
                        <li>Sed dignissim nibh metus, id commodo arcu convallis vitae.</li>
                    </ul>
                {{/repeat}}

                <h2>Education</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</article>
