<article class="blog-entry sketches">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-12">
                <header class="blog-entry_header">
                    <h1>Sketches</h1>
                </header>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            {{#repeat 4}}
                <div class="cell medium-6 large-4">
                    <a href="#" class="sketches_link">
                        <div class="sketches_polygon-wrapper">
                            <div role="img" aria-label="Image alt" class="sketches_polygon" style="background-image: url('https://i.picsum.photos/id/982/800/600.jpg?hmac=FmOAdZM7voDjXYprcv9oOS_wiMo82m_G68Sp2dpK20A');"></div>
                        </div>
                        <h2 class="sketches_title h4">Image</h2>
                    </a>
                </div>
                <div class="cell medium-6 large-4">
                    <a href="#" class="sketches_link">
                        <div class="sketches_polygon-wrapper">
                            <div role="img" aria-label="Image alt" class="sketches_polygon" style="background-image: url('https://i.picsum.photos/id/192/800/600.jpg?hmac=XjJMLP0ac0_G91n_SFs5GOlCG50bMeFHcBOdyw7l8a8');"></div>
                        </div>
                        <h2 class="sketches_title h4">Image</h2>
                    </a>
                </div>
                <div class="cell medium-6 large-4">
                    <a href="#" class="sketches_link">
                        <div class="sketches_polygon-wrapper">
                            <div role="img" aria-label="Image alt" role="img" aria-label="Image alt" class="sketches_polygon" style="background-image: url('https://i.picsum.photos/id/435/800/600.jpg?hmac=UIrqr98-T5ekbFcGvAe75vXgyzeaF58rM33TQpuXpjk');"></div>
                        </div>
                        <h2 class="sketches_title h4">Image</h2>
                    </a>
                </div>
            {{/repeat}}
        </div>
    </div>
</article>
