/* begin resume */
.banner {
	&__back {
		text-align: center;
		margin-bottom: .938em;

		@media only screen and (min-width:640px) {
			float: right;
		}

		a {
			background-color: @whisper;
			padding: 15px 30px;
			display: inline-block;
			transition: @transition;
			text-decoration: none;

			&:hover {
				background-color: @silver;
			}
		}
	}
}
#bigName {
	font: 2.25em/1.1111 'Cabin', sans-serif;
	color: @black;
	margin: 0;

	@media only screen and (min-width:900px) {
		font-size: 3.5em;
	}
}
.download_pdf {
	margin-right: 0.313em;
}

#contentResume {
	ul,
	ol {
		margin-left: 1.875em;
	}
	ul li {
		margin-bottom: 0.3125em;
		list-style-type: disc;
	}
	ol li {
		margin-bottom: 0.3125em;
		list-style-type: decimal;
	}
	h2 {
		text-align: center;
		font-family: 'Cabin', sans-serif;
		padding-bottom: .625em;
		margin-bottom: .625em;
		border-bottom: 1px solid @silver;
	}

}

#sidebar2 {
	@media only screen and (min-width:900px) {
		float: right;
		width: 27.25118483412322%; /* 230/844 */
	}

	h2 {
		text-align: center;
	}
	ul {
		margin-left: 1.875em;
		list-style-type: disc;
	}
	li {
		margin-bottom: 0.3125em;
	}
}

.portfolio {
	#contentResume ul& {
		margin: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media only screen and (min-width:480px) {
			margin: 0 -15px;
			justify-content: flex-start;
		}
	}

	&__item {
		#contentResume ul li& {
			list-style: none;
		}

		@media only screen and (min-width:480px) {
			padding: 0 15px;
			width: 50%;
		}
		@media only screen and (min-width:640px) {
			width: 25%;
		}
		@media only screen and (min-width:960px) {
			width: 20%;
		}

		img {
			margin-bottom: 15px;
			border: 1px solid @aluminum;
		}
	}

	&__tabs {
		#contentResume & {
			margin-left: 0;
			border-bottom: 1px solid @silver;
		}
		li {
			#contentResume & {
				display: inline-block;
				list-style: none;
				margin: 0;
				border-top: 1px solid @silver;
				border-left: 1px solid @silver;
				border-right: 1px solid @silver;
				position: relative;
				top: 1px;

				&:first-child {
					margin-left: 5px;
				}
			}
			a {
				padding: .625em 1.875em;
				display: block;
				background-color: #f9f9f9;
				text-decoration: none;
				background-color: @silver;

				&.portfolio__tabs-active {
					background-color: #f9f9f9;
				}
			}
		}
		&-content {
			display: none;
		}

	}

}

/* end resume */